.film-title{
    font-size: 26px;
    color: black;
    text-align: center;
}
.film-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.favorite-film{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.favorite-film h2{
    margin-bottom: 5%;
}
.error-container{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;

}
.error-container h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 2%;
}
.error-container hr{
    width: 70%;
    opacity: 50%;
    margin-bottom: 3%;
}
.error-container p{
    font-size: 18px;
    text-align: center;
}
.year-container{
    width: 15%;
    background-color: coral;
    color: white;
    align-items: center;
    margin-bottom: 2%;
}
.mid-form hr{
    width: 70%;
    color: black;
    opacity: 30%;
    margin-bottom: 3%;
}
.form-group input {
    font-size: 14px;
    padding: 2%; 
    text-align: left;
    outline: none;
}
.form-group textarea {
    font-size: 14px;
    padding: 2%; 
    text-align: left;
    outline: none;
}
.your-data{
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.your-data hr{
    width: 70%;
    color: black;
    opacity: 30%;
    margin-bottom: 3%;
}
.your-data p{
    font-size: 18px;
    text-align: left;
}
.your-data-text{
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.loading-text{
    font-size: 20px;
    margin-bottom: 5%;
}
.loading-img{
    width: 10%;
}
.image-wrap-single{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    margin-bottom: 2%;
}
.btn-articles-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}
.btn-edit {
    background-color: #61D9FA;
    color: white;
    padding: 2%;
    width: 15%;
    font-size: 20px;
    outline: none;
    margin-right: 10%;
    border-radius: 10pt;
}
.btn-edit:hover {
    background-color: #4DE3DB;
    color: black;
}
.btn-delete {
    background-color: #61D9FA;
    color: white;
    padding: 2%;
    width: 15%;
    font-size: 20px;
    outline: none;
    margin-left: 10%;
    border-radius: 10pt;
}
.btn-delete:hover {
    background-color: #4DE3DB;
    color: black;
}
.section-CA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0px auto;
}
.subheader-CA{
    font-size: 30px;
    text-align: left;
    margin-bottom:  2%;
    margin-top: 2%;
}
.form-create-article{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-group-CA{
    width: 70%;
    padding: 0;
    margin: 0;
    text-align: left;
}
.form-group-CA label{
    font-size: 20px;
}
.form-group-CA textarea {
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 14px;
  text-align: left;
  outline: none;

  width: 100%;
  height: 20vh;
  min-height: 20vh;
  max-height: 50vh;
  min-width: 100%;
  max-width: 100%;

  border: 2px solid #ccc;
  transition: 300ms all;
}
.form-group-CA input[type="text"]{
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 14px;
    text-align: left;
    outline: none;
  
    width: 100%;

    border: 2px solid #ccc;
    transition: 300ms all;
}
input[type="text"]:focus {
  box-shadow: 3px solid grey;
}
.file-AC{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.btn-Create-AC{
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 10px;
    background: #faac61;
    border: 1px solid #ad6621;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    width: 30%;
    outline: none;
}